<div class="sections">
	{{#each sections }}
	<div class="section">
		<table class="table table-row">
			<tbody>
				<tr>
					<td class="iterations"><h3>{{{ iterations }}}</h3></td>
					<td class="entity">{{{ entity }}}</td>
				</tr>
			</tbody>
		</table>
		<table class="table table-row">
			<tbody>
				<tr>
					<td class="extra"><h3>{{{ extra }}}</h3></td>
					<td class="subSum"><h3>{{{ subSum }}}</h3></td>
				</tr>
			</tbody>
		</table>
	</div>
	{{/each}}
	<div class="section">
		<table class="table table-sum">
			<tbody>
				<tr>
					<td class="sum"><h3>{{{ sections.sum }}}</h3></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>