<ul class="sections">
    {{#each sections }}
    <li class="section">

        <div class="outerContainer iterations">
            <div class="innerContainer">
                <h1>{{{ iterations }}}</h1>
            </div>
        </div>

        <div class="outerContainer entity">
            <div class="innerContainer">
                {{{ entity }}}
            </div>
        </div>

        <div class="outerContainer extra">
            <div class="innerContainer">
                <h1>{{{ extra }}}</h1>
            </div>
        </div>

        <div class="outerContainer subSum">
            <div class="innerContainer">
                <h1>{{{ subSum }}}</h1>
            </div>
        </div>

    </li>
    {{/each}}
    <li class="section">
        <div class="outerContainer sum">
            <div class="innerContainer">
                <div class="glyphicon glyphicon-thumbs-up"></div><h1>{{{ sections.sum }}}</h1>
            </div>
        </div>
    </li>
</ul>